@model UnionSurvey.Models.LoginViewModel
@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Login";
}

<div class="col-md-5 text-center bg-card-gradient">
    <div class="position-relative p-4 pt-md-5 pb-md-7" data-bs-theme="light">
        <div class="bg-holder bg-auth-card-shape" style="background-image:url(/img/suts/Suts-logo.svg);background-color: #fff;background-size: contain;">
        </div>
        <!--/.bg-holder-->

        @* <img b-0s5xclipeb="" class="bg-auth-circle-shape" src="/img/suts/sutslogo.png" alt="" width="250"> *@
@*         <div class="z-1 position-relative">
            <a class="link-light mb-4 font-sans-serif fs-5 d-inline-block fw-bolder" href="../../../index.html">falcon</a>
            <p class="opacity-75 text-white">With the power of Falcon, you can now focus only on functionaries for your digital products, while leaving the UI design on us!</p>
        </div> *@
    </div>
    <div class="mt-3 mb-4 mt-md-4 mb-md-5" data-bs-theme="light">
        <p class="text-white">
            Don't have an account?<br>
            <a class="btn btn-outline-light mt-2 px-4" asp-controller="Account" asp-action="Register">Create new account</a>

        </p>
        <p class="mb-0 mt-4 mt-md-5 fs-10 fw-semi-bold text-white opacity-75">
            Read our
            <a class="text-decoration-underline text-white" href="#!" data-bs-toggle="modal" data-bs-target="#termsandcondition">terms</a> and
            <a class="text-decoration-underline text-white" href="#!" data-bs-toggle="modal" data-bs-target="#termsandcondition">conditions </a>
        </p>
    </div>
</div>
<div class="col-md-7 d-flex flex-center">
    <div class="p-4 p-md-5 flex-grow-1">
        <div class="row flex-between-center">
            <div class="col-auto">
                <h3>Account Login</h3>
            </div>
        </div>
        <form class="needs-validation" novalidate asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label" asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName" required />
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <label class="form-label" asp-for="Password"></label>
                </div>
                <input class="form-control" asp-for="Password" required />
            </div>
            <div class="row flex-between-center">
                <div class="col-auto">
                    <div class="form-check mb-0">
                        <input class="form-check-input" asp-for="RememberMe" checked="checked" />
                        <label class="form-check-label mb-0" asp-for="RememberMe"></label>
                    </div>
                </div>
                @* <div class="col-auto"><a class="fs-10" href="../../../pages/authentication/card/forgot-password.html">Forgot Password?</a></div> *@
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Log in</button>
            </div>
        </form>
        @*         <div class="position-relative mt-4">
        <hr />
        <div class="divider-content-center">or log in with</div>
        </div>
        <div class="row g-2 mt-2">
        <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
        <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
        </div> *@
    </div>
</div>