@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Dashboard";

    var agentId = ViewData["AgentId"] ?? 0;
    var agentName = ViewData["AgentName"] ?? "Agent";
}

@section Styles {
    <style>
        /* Style for messages sent by the agent */
        .agent-message {
            text-align: right;
            background-color: #e0f7fa;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            align-self: flex-end;
            clear: both;
        }

        .user-message {
            text-align: left;
            background-color: #fff9c4;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            align-self: flex-start;
            clear: both;
        }

        #chat-board {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            padding: 10px;
        }
    </style>
}
<style>
    div#users {
        position: relative;
    }

        div#users li {
            position: absolute;
            z-index: 9;
        }

            div#users li:nth-of-type(1) {
                top: 3%;
            }

            div#users li:nth-of-type(2) {
                top: 16%;
            }

            div#users li:nth-of-type(3) {
                top: 30%;
            }

            div#users li:nth-of-type(4) {
                top: 43%;
            }

            div#users li:nth-of-type(5) {
                top: 56%;
            }

            div#users li:nth-of-type(6) {
                top: 69%;
            }

            div#users li:nth-of-type(7) {
                top: 82%;
            }

            div#users li:nth-of-type(8) {
                top: 95%;
            }

            div#users li:nth-of-type(9) {
                top: 108%;
            }

            div#users li:nth-of-type(10) {
                top: 121%;
            }

            div#users li:nth-of-type(11) {
                top: 134%;
            }


    div#users {
        height: 500px;
    }

    .contacts-list {
        height: calc(100% - 6.3rem);
    }

    .chat-content-header .fs-11.text-400 {
        color: #00d27a !important;
    }

    form#message-form input#message-input {
        height: 150px;
    }

    .contacts-search-wrapper {
        height: 99px;
    }

    .hover-actions-trigger:hover svg {
        display: none;
    }
</style>

<body class="overflow-hidden">
    <main class="main" id="top">
        <div class="container" data-layout="container">
            <script>
                var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                if (isFluid) {
                    var container = document.querySelector('[data-layout]');
                    container.classList.remove('container');
                    container.classList.add('container-fluid');
                }
            </script>
            <div class="card card-chat overflow-hidden">
                <div class="card-body d-flex p-0 h-100">
                    <div class="chat-sidebar">
                        <div class="contacts-list scrollbar-overlay">
                            <div class=" border-0 flex-column" s aria-orientation="vertical">

                                <div id="user-list" class="hover-actions-trigger chat-contact nav-item active" role="tab" id="chat-link-0" data-bs-toggle="tab" data-bs-target="#chat-0" aria-controls="chat-0" aria-selected="true">

                                    <div class="d-flex p-3">

                                        <div class="flex-1 chat-contact-body ms-2 d-md-none d-lg-block">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0 chat-contact-title"><div id="users" style="list-style-type: none; padding-left: 0; "></div></h6>
                                            </div>
                                            <div class="min-w-0">
                                                <div class="position-absolute bottom-0 end-0 hover-hide">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hover-actions-trigger chat-contact nav-item active" role="tab" id="chat-link-0" data-bs-toggle="tab" data-bs-target="#chat-0" aria-controls="chat-0" aria-selected="true">
                                    <div class="d-md-none d-lg-block">
                                        <div class="dropdown dropdown-active-trigger dropdown-chat">
                                            <button class="hover-actions btn btn-link btn-sm text-400 dropdown-caret-none dropdown-toggle end-0 fs-9 mt-4 me-1 z-1 pb-2 mb-n2" type="button" data-boundary="viewport" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-cog" data-fa-transform="shrink-3 down-4"></span></button>
                                            <div class="dropdown-menu dropdown-menu-end border py-2 rounded-2">
                                                <a class="dropdown-item" href="#!">Mute</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Mark as Unread</a><a class="dropdown-item" href="#!">Something's Wrong</a><a class="dropdown-item" href="#!">Ignore Messsages</a><a class="dropdown-item" href="#!">Block Messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="d-flex p-3">
                                    <div class="avatar avatar-xl status-online">
                                    <img class="rounded-circle" src="../assets/img/team/2.jpg" alt="" />

                                    </div>
                                    <div id="user-list" class="flex-1 chat-contact-body ms-2 d-md-none d-lg-block">
                                    <div class="d-flex justify-content-between">

                                    <h6 class="mb-0 chat-contact-title">
                                    <ul id="users" style="list-style-type: none; padding-left: 0;">
                                    <!-- User list will be loaded here via JavaScript -->
                                    </ul>
                                    </h6>
                                    </div>
                                    <div class="min-w-0">
                                    <div class="chat-contact-content pe-3">antony
                                    sent
                                    6 photos
                                    </div>
                                    <div class="position-absolute bottom-0 end-0 hover-hide">
                                    </div>
                                    </div>
                                    </div>
                                    </div> *@
                                </div>


                            </div>
                        </div>
                        <form class="contacts-search-wrapper">
                            <div class="form-group mb-0 position-relative d-md-none d-lg-block w-100 h-100">
                                <input class=" form-control-sm chat-contacts-search border-0 h-100" type="text" placeholder="Search contacts ..." /><span class="fas fa-search contacts-search-icon"></span>
                            </div>
                            <button class="btn btn-sm btn-transparent d-none d-md-inline-block d-lg-none"><span class="fas fa-search fs-10"></span></button>
                        </form>
                    </div>
                    <div class="tab-content card-chat-content">

                        <div class="tab-pane card-chat-pane active" id="chat-0" role="tabpanel" aria-labelledby="chat-link-0">
                            <div class="chat-content-header">
                                <div class="row flex-between-center">
                                    <div class="col-6 col-sm-8 d-flex align-items-center">
                                        <a class="pe-3 text-700 d-md-none contacts-list-show" href="#!">
                                            <div class="fas fa-chevron-left"></div>
                                        </a>
                                        <div class="min-w-0">
                                            <h5 id="chat-header" class="mb-0 text-truncate fs-9" data-item="">---</h5>
                                            <div class="fs-11 text-400">Active On Chat</div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <!-- Buttons for call, video call, and chat info -->
                                    </div>
                                </div>
                            </div>
                            <div class="chat-content-body" style="display: inherit;">
                                <div class="conversation-info" data-index="0">
                                    <div class="h-100 overflow-auto scrollbar">
                                        <div class="d-flex position-relative align-items-center p-3 border-bottom">
                                            <div class="avatar avatar-xl status-online">
                                             

                                            </div>
                                            @*   <div class="flex-1 ms-2 d-flex flex-between-center">
                                            <h6 class="mb-0"><a class="text-decoration-none stretched-link text-700" href="../pages/user/profile.html">Antony Hopkins</a></h6>
                                            <div class="dropdown z-1">
                                            <button class="btn btn-link btn-sm text-400 dropdown-toggle dropdown-caret-none me-n3" type="button" id="profile-dropdown-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-cog"></span></button>
                                            <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="profile-dropdown-0"><a class="dropdown-item" href="#!">Mute</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                                            </div>
                                            </div>
                                            </div> *@
                                        </div>
                                        <div class="px-3 pt-2">
                                            <div class="nav flex-column font-sans-serif fw-medium"><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-search me-1" data-fa-transform="shrink-1 down-3"></span></span>Search in Conversation</a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-pencil-alt me-1" data-fa-transform="shrink-1"></span></span>Edit Nicknames</a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-palette me-1" data-fa-transform="shrink-1"></span></span><span>Change Color</span></a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-thumbs-up me-1" data-fa-transform="shrink-1"></span></span>Change Emoji</a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-bell me-1" data-fa-transform="shrink-1"></span></span>Notifications</a></div>
                                        </div>
                                        <hr class="my-2" />
                                        <div class="px-3" id="others-info-0">
                                            <div class="title" id="shared-media-title-0"><a class="btn btn-link btn-accordion hover-text-decoration-none dropdown-indicator" href="#shared-media-0" data-bs-toggle="collapse" aria-expanded="false" aria-controls="shared-media-0">Shared media</a></div>
                                            <div class="collapse" id="shared-media-0" aria-labelledby="shared-media-title-0" data-parent="#others-info-0">
                                                <div class="row mx-n1">
                                                    <div class="col-6 col-md-4 px-1"><a href="../assets/img/chat/1.jpg" data-gallery="images-1"><img class="img-fluid rounded-1 mb-2" src="../assets/img/chat/1.jpg" alt="" /></a></div>
                                                    <div class="col-6 col-md-4 px-1"><a href="../assets/img/chat/2.jpg" data-gallery="images-1"><img class="img-fluid rounded-1 mb-2" src="../assets/img/chat/2.jpg" alt="" /></a></div>
                                                    <div class="col-6 col-md-4 px-1"> <a href="../assets/img/chat/3.jpg" data-gallery="images-1"><img class="img-fluid rounded-1 mb-2" src="../assets/img/chat/3.jpg" alt="" /></a></div>
                                                    <div class="col-6 col-md-4 px-1"> <a href="../assets/img/chat/4.jpg" data-gallery="images-1"><img class="img-fluid rounded-1 mb-2" src="../assets/img/chat/4.jpg" alt="" /></a></div>
                                                    <div class="col-6 col-md-4 px-1"> <a href="../assets/img/chat/5.jpg" data-gallery="images-1"><img class="img-fluid rounded-1 mb-2" src="../assets/img/chat/5.jpg" alt="" /></a></div>
                                                    <div class="col-6 col-md-4 px-1"> <a href="../assets/img/chat/6.jpg" data-gallery="images-1"><img class="img-fluid rounded-1 mb-2" src="../assets/img/chat/6.jpg" alt="" /></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-content-scroll-area scrollbar">
                                    @*  <div class="d-flex position-relative p-3 border-bottom mb-3 align-items-center">
                                    <div class="avatar avatar-2xl status-online me-3">
                                    <img class="rounded-circle" src="../assets/img/team/2.jpg" alt="" />

                                    </div>
                                    <div class="flex-1">
                                    <h6 class="mb-0"><a class="text-decoration-none stretched-link text-700" href="../pages/user/profile.html">Antony Hopkins</a></h6>
                                    <p class="mb-0">You friends with Antony Hopkins. Say hi to start the conversation
                                    </p>
                                    </div>
                                    </div> *@
                                    <div class="d-flex p-3">
                                        <div class="avatar avatar-l me-2">
                                       

                                        </div>
                                        <div class="flex-1">
                                            <div class="w-xxl-75">
                                                <div class="hover-actions-trigger d-flex align-items-center">
                                                    <div id="chat-board" style="flex-grow: 1; padding: 5px;">
                                                        <!-- Messages will be displayed here -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <form class="chat-editor-area" id="message-form">
                            @* <div class="emojiarea-editor outline-none scrollbar" id="message-input" contenteditable="true"></div> *@


                            <input type="text" id="message-input" style="border:0px;" class="emojiarea-editor outline-none scrollbar" />

                            <input class="d-none" type="file" id="chat-file-upload" />
                            <label class="chat-file-upload cursor-pointer" for="chat-file-upload"><span class="fas fa-paperclip"></span></label>
                            <div class="chat-emoji-picker">
                                <div class="btn btn-link emoji-icon" data-emoji-mart="data-emoji-mart" data-emoji-mart-input-target=".emojiarea-editor"><span class="far fa-laugh-beam"></span></div>
                            </div>
                            <input type="hidden" id="agent-id" value="@agentId" />
                            <input type="hidden" id="user-id" />
                            <input type="hidden" id="user-name" />
                            <input type="hidden" id="agent-name" value="@agentName" />
                            <button class="btn btn-sm btn-send shadow-none" type="submit">Send</button>
                            <!-- End Chat Button -->
                            <button id="end-chat-button" class="btn btn-sm btn-send shadow-none">End Chat</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="~/js/agent-chat.js"></script>

}

